/* Styles go here */

body {
  margin-left: 10px;
}
th, td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  
}

h1 {
  
}

table {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
